<!DOCTYPE html>
<html ng-app="hack1-patient">
	<head>
		<title>PlayAlong</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
		<meta http-equiv="Pragma" content="no-cache"/>
		<meta http-equiv="Expires" content="0"/>
		<link rel="stylesheet" href="/static/fantasy/styles/bootstrap.min.css"/>>

		<link rel="stylesheet" href="/static/fantasy/styles/libs/chartist.min.css?c=423"/>
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
		<script type="text/javascript" src="/static/fantasy/scripts/config.js?c=423"></script>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.14/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.14/angular-sanitize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.14/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.14/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.14/angular-touch.min.js"></script>
    <script>
		  // Initialize Firebase
		  var config = {
		    apiKey: "AIzaSyD2fZQKEeqfSt-g7R2wqiiAmamjFoxCegQ",
		    authDomain: "hackathon-7th-july.firebaseapp.com",
		    databaseURL: "https://hackathon-7th-july.firebaseio.com",
		    projectId: "hackathon-7th-july",
		    storageBucket: "hackathon-7th-july.appspot.com",
		    messagingSenderId: "24639211491"
		  };
		  firebase.initializeApp(config);
		</script>
    
	</head>
	<body>
    
    <div data-ng-view=""></div>

	</body>
</html>