<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Doctors Prescription</title>
  </head>
  <body>
  <h1>Cosmopolitan Hospital</h1>
      <h2>San Fransisco<h2/>
      <h3>United States of America </h3>
  <form>
  <div class="container">
    <label><b>Patient</b></label>
    <input type="text" placeholder="Patient Name" name="Patient" required>
   <br />
    <label><b>Symptom</b></label>
        
   <br />
    <label><b>Diagnosis</b></label>
    <input type="text" placeholder="diagnosis" name="diagnosis" required>
   <br />
    <label><b>Treatment</b></label>
    <table border="2" bgcolor="#efefef">
			<tr>
				<th>Drug Name</th>
				<th>Drug Type</th>
				<th>Days </th>
				<th>Drug Dose</th>
			</tr>
			<tr>
				<TD class = "select">
        <select>        
                <option value="Paracetamol">Paracetamol</option>
                <option value="Amoxyillin">Amoxyillin</option>
                <option value="Ibruphen">Ibruphen</option>
                <option value="Syncod">Syncod</option>
        </select>
        			<td>AntiPyretic</td>
				<td>4</td>
				<TD class = "select">
        <select>        
                <option value="Twice Daily">Twice Daily</option>
                <option value="Thrice Daily - AF">Thrice Daily - AF</option>
                <option value="Once Daily-BF">Once Daily-BF</option>
                <option value="injection">injection</option>
        </select>
			</tr>
			<tr>
				<TD class = "select">
        <select>        
                <option value="Paracetamol">Paracetamol</option>
                <option value="Amoxyillin">Amoxyillin</option>
                <option value="Ibruphen">Ibruphen</option>
                <option value="Syncod">Syncod</option>
        </select>
				<td>Antibiotic</td>
				<td>6</td>
				<TD class = "select">
        <select>        
                <option value="Twice Daily">Twice Daily</option>
                <option value="Thrice Daily - AF">Thrice Daily - AF</option>
                <option value="Once Daily-BF">Once Daily-BF</option>
                <option value="injection">injection</option>
        </select>
			</tr>
		</table>

   <br/>
    <input type="submit" value="Submit"> 
  </div>
</form>    
  </body>
</html>
